.header,
.blue-section,
.footer {
    background-color:#1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

.blue-box {
    height: 100px;
    width: 100px;
    border-color: #3882F6;
}

.hero-text {
    font: extra-bold 48px;
    color: #F9FAF8;
}